

{{define "charts"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/static/huerto-favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="{{.URL}}/static/js/gen-charts.js" type="text/javascript"></script>
    <script src="{{.URL}}/static/js/ui.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{.URL}}/static/css/charts.css" />
  </head>
  <!-- <body onload="init('{{.URL}}', '{{.URL}}/static/', 1)" class="text-light"> -->
  <body>
    <div id="content">
      <script type="text/javascript">
	window.addEventListener('load', init('{{.URL}}', '{{.URL}}/static/', "huerto-nomapari-01", 1));
      </script>
      <div></div>
      <div id="header" class="container-md text-center">
	<h1 class="display-5 fw-bold text-white" id="node"></h1>
      </div> <!-- header -->
      
      <div class="container text-center">
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
	  <label class="btn btn-secondary">
	    <input type="radio" name="options" id="day" autocomplete="off" onclick="init('{{.URL}}', '{{.URL}}/static/', 'huerto-nomapari-01', 0);"> Día
	  </label>
	  <label class="btn btn-secondary">
	    <input type="radio" name="options" id="week" autocomplete="off" checked onclick="init('{{.URL}}', '{{.URL}}/static/', 'huerto-nomapari-01', 1);"> Semana
	  </label>
	  <label class="btn btn-secondary">
	    <input type="radio" name="options" id="month" autocomplete="off" onclick="init('{{.URL}}', '{{.URL}}/static/', 'huerto-nomapari-01', 4);"> Mes
	  </label>
	</div> <!-- buttons -->
	<div>
	  <p></p>
	</div>
	<div class="row">
	  <div class="col">
	    <canvas id="humChart" class="dataChart" width="600px" height="400px"></canvas>
	  </div>
	  <div class="col">
	    <canvas id="tempChart" class="dataChart" width="600px" height="400px"></canvas>
	  </div>
	</div>
	<div class="row">
	  <div class="col">
	    <canvas id="soilChart" class="dataChart" width="600px" height="400px"></canvas>
	  </div>
	  <div class="col">
	    <canvas id="baroChart" class="dataChart" width="600px" height="400px"></canvas>
	  </div>
	</div>
	<div class="row">
	  <div class="col">
	    <canvas id="battChart" class="dataChart" width="600px" height="400px"></canvas>
	  </div>
	  <div class="col">
	    <canvas id="emptyChart" width="600px" height="400px"></canvas>
	  </div>
	</div>
      </div> <!-- container -->
      <div><p></p></div>
      <div id="selector" class="container text-center">
	<div class="btn-group btn-group-toggle" data-toggle="buttons" id="select-node">
	</div> <!-- select-node -->
      </div> <!-- selector -->
    </div> <!-- content -->
    <div><p></p></div>
  </body>
</html>
{{end}}
